.labs-infos .table-employees{
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}
.labs-infos .input-form{
    margin-top: -5px;
}
.labs-infos .title{
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
}
