.side-bar-left {
    max-width: 280px;
    height: 100%;
    position: fixed;
    background-color: #ffeb9b;
    z-index: 998;
    border-radius: 5px;
    border: 0px solid cadetblue;
}

.side-bar-left .title-sidebar {
    height: 40px;
    /*background-color: #ffffff;*/
    border-radius: 10px;
}

.side-bar-left .body-sidebar {
}